* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video,
canvas {
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

video,
canvas {
  transform: translate3d(0, -50%, 0) scaleX(-1);
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
}

canvas {
  z-index: 1;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.55);
}

button {
  font-size: 20px;
}

.hand {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 10;
  left: 0;
  transform: translate3d(0, -50%, 0) scale(0.5);
  pointer-events: none;
}
